/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  background-color: #00c173;
}


.members{

}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.nav-wrapper .brand-logo img {
  height: 110px;
}

#logoGratis{
  background-color: #00c173;
}
#footer{
  background-color: #494949;
}
h1{
  color: #00c173;
}
nav{
  background-color: #00c173;
  min-height: 120px;
}
nav ul a,
.logoGratis .brand-logo {
  color: #444;
}
#greenBG{
  background-color: #00c173;
}
#greenText{
  color: #00c173;
}
#countdown{
  font-size: 40px;
}
#demo{
  font-size: 500%;
  text-align: center;
}
#members img{
  height: 60px;
}

nav li a{
  font-size: 130%;
  padding-top: 28px;
  padding-bottom: 28px;
  color: white;
}

.opacity {
  opacity: 0.5;
}
