/*1900px to 2000px*/
@media only screen and (max-width: 2000px) {
    .image0 {
        top: -800px;
    }
}

/*1800px to 1900px*/
@media only screen and (max-width: 1900px) {
    .image0 {
        top: -710px;
    }
}


/*1700px to 1800px*/
@media only screen and (max-width: 1800px) {
    .image0 {
        top: -635px;
    }
}



/*1600px to 1700px*/
@media only screen and (max-width: 1700px) {
    .image0 {
        top: -560px;
    }
}


/*1500px to 1700px*/
@media only screen and (max-width: 1600px) {
    .image0 {
        top: -480px;
    }
}

/*1200px to 1500px*/
@media only screen and (max-width: 1500px) {
    .image0 {
        width: 100%;
        height: auto;
    }
}


/*Big tablets to 1500px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    #sign-up {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%
    }

    #countdown {
        font-size: 700%;
    }


}

/*Small table to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    #sign-up {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%
    }

    #countdown {
        font-size: 600%;
    }
}


/*Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 400%;
    }

    .section {
        padding-top: 0;
    }

    .row font {
        font-size: 100%;
    }

    h2 {
        font-size: 200%;
    }

    #countdown {
        font-size: 400%;
    }

    #sign-up {
        width: 100%;
        margin: auto 0;
    }
}


/*Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .container {
        margin-top: 0px;
    }

    h1 {
        font-size: 350%;

    }

    .section {
        padding-top: 0;
    }

    .row font {
        font-size: 100%;
    }

    h2 {
        font-size: 200%;
    }

    #countdown {
        font-size: 300%;
    }

    #sign-up {
        width: 100%;
        margin: auto 0;
    }
}
